.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: transparent;
}

.logo {
    width: 12%;
    height: 1%;
}
.logo img {
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.links a {
    color: #fff;
    border: 0;
    text-decoration: none;
    padding-bottom: .4rem;
}

.links a.active,
.links a:hover {
    border-bottom: 3px solid #fff;
    font-weight: bold;
    color: #b119e9;
}