@font-face {
  font-family: 'poppinsblack';
  src: url('/src/UI/fonts/poppins-black-webfont.woff2') format('woff2'),
       url('/src/UI/fonts/poppins-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsblack_italic';
  src: url('/src/UI/fonts/poppins-blackitalic-webfont.woff2') format('woff2'),
       url('/src/UI/fonts/poppins-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #464646;
  font-family: 'poppinsblack', 'poppinsblack_italic';
}

.main {
  height: 80vh;
  width: 100%;
}

.btn {
  background-color: #b119e9;
  padding: 0.894rem 1.97rem;
  border: 0;
  border-radius: 12px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #bc6bd9a9;
}